@import '../common/variables.scss';

$component: 'basepage';

.#{$component} {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  width: 100%;

  &__header,
  &__main,
  &__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: ($baseline * 2) auto;
    box-sizing: border-box;

    @media (min-width: $tablet) {
      width: 80%;
    }

    @media (min-width: $desktop) {
      width: 60%;
    }
  }
}